body {
    background-color: rgb(97, 96, 96);
}

.indextitle {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.index {
    text-align: center;
}

.utext {
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;
}

.utext:hover {
    color: rgb(228, 228, 228);
    text-decoration: wavy;
}

.contribute-button {
    background-color: rgb(97, 96, 96); /* Green */
    border-color: 2px solid white;
    color: rgb(255, 255, 255);
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
}